.login-card {
    text-align: center;
    margin-top: 50;
    margin-bottom: 50;
}
  
.signup-card {
    text-align: center;
    margin-top: 10;
    margin-bottom: 50;
}
  

.form-control {
    text-align: center;
}

.btn {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;     
}  

